<div *ngIf="!getSYstemlineageprogress && isFooter && (hasOFMCrudAccess.dataoffering || hasOFMCrudAccess.dataContract)">
<div *ngIf="!DataOfferingPill && !DataContractPill" class="buttton-section">
    <button class="btn_structure" id="ofm-btn1"
    (click)="openICG(buttonTypes.CREATE_DATA_OFFERING)"
    [ngCLass]="{'hide:!hasOFMCrudAccess.dataoffering'}">
    <span class="btn-text" [textCOntent]="dataofferingLabel"></span>
    <span class="lmnicon lmnicon-link-external-icon"></span>
</button>
<button class="btn_structure" id="ofm-btn2"
(click)="openICG(buttonTypes.CREATE_DATA_CONTRACT)"
[ngCLass]="{'hide:!hasOFMCrudAccess.dataContract'}">
<span class="btn-text" [textCOntent]="dataContractLabel"></span>
<span class="lmnicon lmnicon-link-external-icon"></span>
</button>
</div>
<div *ngIf="DataOfferingPill" class="editsection">
    <button class="edit_op-btn" id="ofm-btn3"
    (click)="openICG(buttonTypes.EDIT_DATA_OFFERING)"
    [ngCLass]="{'hide:!hasOFMCrudAccess.dataoffering'}">
    <span class="edit-btn-text" [textCOntent]="editofferingLabel"></span>
    <span class="lmnicon lmnicon-link-external-icon"></span>
</button>
</div>
<div *ngIf="DataOfferingPill" class="editsection">
    <button class="edit_op-btn" id="ofm-btn4"
    (click)="openICG(buttonTypes.EDIT_DATA_CONTRACT)"
    [ngCLass]="{'hide:!hasOFMCrudAccess.dataContract'}">
    <span class="edit-btn-text" [textCOntent]="editofferingLabel"></span>
    <span class="lmnicon lmnicon-link-external-icon"></span>
</button>
</div>
</div>